<tr>
  <td><%= order.id %></td>
  <td><%= fetch_username_by_id order %></td>
  <td><%= fetch_address_by_id order %></td>
  <td><%= number_to_currency_format order.total_of_money %></td>
  <td class="order_status text-<%= change_color_order_status order %>"><%= order.status %></td>
  <td>
    <%= link_to edit_admin_order_path(order) do %>
      <i class="fa fa-2x fa-pencil-square-o text-success" aria-hidden="true"></i>
    <% end %>
  </td>
</tr>
