<h2><%= t "admin.week_summary" %></h2>

<h3><%= t "admin.customer_summary" %></h3>

<table>
  <thead>
    <tr>
      <th><%= t "admin.customer" %></th>
      <th><%= t "admin.orders" %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |key, value| %>
    <tr>
      <td><%= User.find_by(id: key).name %></td>
      <td><%= value %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<table>
  <thead>
    <tr>
      <th><%= t "admin.product" %></th>
      <th><%= t "admin.buy_count" %></th>
    </tr>
  </thead>
  <tbody>
    <% @order_details.each do |key, value| %>
    <tr>
      <td><%= Product.find_by(id: key).name %></td>
      <td><%= value %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t("export_excel"), admin_xlsx_index_url(format: "xlsx") %>

