<% provide(:title, t("pages.cart")) %>
<div class="cart_page">
  <div class="container cart_height">
    <table id="cart" class="table table-hover table-condensed">
      <thead>
        <tr>
          <th style="width:50%"><%= t "pages.product_name" %></th>
          <th style="width:10%"><%= t "pages.price" %></th>
          <th style="width:8%"><%= t "pages.quantity" %></th>
          <th style="width:22%" class="text-center"><%= t "pages.actual_price" %></th>
          <th style="width:10%"> </th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.reverse! %>
        <% @cart_items.each do |item| %>
          <tr>
            <td>
              <div class="row">
                <div class="col-sm-2 hidden-xs">
                  <img src="/assets/computer.jpg" alt="Sản phẩm 1" class="img-responsive" width="100">
                </div>
                <div class="col-sm-10">
                  <h4 class="product_name"><%= item[:product].name %></h4>
                </div>
              </div>
            </td>
            <td class="product_price"><%= number_to_currency_format item[:product].price %></td>
            <%= form_with(url: update_carts_path(item[:product]), local: false, method: :put) do |f| %>
              <td class="quantity">
                <%= f.number_field :quantity, value: item[:quantity], min: 1, class: "form-control text-center change-quatity"%>
                <%= f.hidden_field :id, value: item.dig(:product)&.id, class: "cart_product_id" %>
              </td>
            <% end %>
            <td data-th="subtotal" class="text-center"><%= number_to_currency_format line_total_price(item) %></td>
            <td class="actions">
              <%= link_to remove_from_carts_path(item[:product]), class: "btn btn-warning btn-block" do %>
                <%= t "pages.remove" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <a href="#" class="btn btn-info">
              <i class="fa fa-angle-left"></i> <%= t "pages.continue_buy" %>
            </a>
          </td>
          <td colspan="2" class="hidden-xs"> </td>
          <td class="hidden-xs text-center">
          <strong>
            <%= t "pages.total_of_money" %> <%= number_to_currency_format total_of_money %>
          </strong>
          </td>
          <td>
            <%= link_to new_order_path, class: "btn btn-success btn-block" do %>
              <%= t "pages.pay" %> <i class="fa fa-angle-right"></i>
            <% end %>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<%= javascript_include_tag "ajax_cart" %>
