<% provide :title, t("products.admin_title") %>
<section class="panel important">
  <h2><%= t "admin.products" %></h2>
</section>
<div class="container">
  <%= render "form_search_filter" %>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <%= render "thead_product" %>
    </thead>
    <tbody>
      <%= render "product" %>
    </tbody>
  </table>
</div>
<div>
  <%= paginate @products %>
</div>
