<nav class="nav_admin" role="navigation">
  <ul class="main">
    <li class="dashboard"><%= link_to t("admin.dashboard"), admin_root_path %></li>
    <li class="write"><%= link_to t("admin.orders"), admin_orders_path %></li>
    <li class="edit"><%= link_to t("admin.products"), admin_products_path %></li>
    <li class="comments"><%= link_to t("admin.categories"), "#" %></li>
    <li class="users"><%= link_to t("admin.users"), "#" %></li>
  </ul>
</nav>
