<section class="panel important">
  <h2><%= t "chartkick.welcome_dashboard" %> </h2>
  <div id="content">
    <div class="container-fluid">
      <h3><%= t "chartkick.each_status" %></h3>
        <%= pie_chart admin_order_status_path %>
    </div>
    <div class="container-fluid">
      <div class="row">
        <h3><%= t "chartkick.money_month" %></h3>
        <%= line_chart admin_order_total_money_month_path, thousands: ",", suffix: " vnđ" %>
      </div>
      <div class="row">
        <h3><%= t "chartkick.money_quarter" %></h3>
        <%= line_chart admin_order_total_money_quarter_path, thousands: ",", suffix: " vnđ" %>
      </div>
      <div class="row">
        <h3><%= t "chartkick.money_year" %></h3>
        <%= line_chart admin_order_total_money_year_path, thousands: ",", suffix: " vnđ" %>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <h3><%= t "chartkick.order_month" %></h3>
        <%= column_chart admin_order_accept_month_path %>
      </div>
      <div class="row">
        <h3><%= t "chartkick.order_quarter" %></h3>
        <%= column_chart admin_order_accept_quarter_path %>
      </div>
      <div class="row">
        <h3><%= t "chartkick.order_year" %></h3>
        <%= column_chart admin_order_accept_year_path %>
      </div>
    </div>
  </div>
</main>